<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.biavaitionbackend.mapper.MaintenanceTaskMapper">
    <select id="selectByPlanId" resultType="org.example.biavaitionbackend.dto.MaintenanceTaskDTO">
        SELECT
        task_id         AS taskId,
        plan_id         AS planId,
        aircraft_id     AS aircraftId,
        task_name       AS taskName,
        task_type       AS taskType,
        actual_start_time AS actualStartTime,
        actual_end_time   AS actualEndTime,
        task_status     AS taskStatus,
        engineer_id     AS engineerId,
        remark,
        created_at      AS createdAt,
        updated_at      AS updatedAt
        FROM maintenance_task
        WHERE plan_id = #{planId}
        ORDER BY created_at DESC

    </select>
</mapper>