<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.biavaitionbackend.mapper.MaintenancePlanMapper">
    <insert id="insert"
            parameterType="org.example.biavaitionbackend.dto.CreateMaintenancePlanDTO">
        INSERT INTO maintenance_plan (
            aircraft_id,
            maintenance_type,
            maintenance_reason,
            planned_start_time,
            planned_end_time,
            plan_status,
            created_by,
            created_at,
            updated_at
        )
        VALUES (
                   #{aircraftId},
                   #{maintenanceType},
                   #{maintenanceReason},
                   #{plannedStartTime},
                   #{plannedEndTime},
                   #{planStatus},
                   #{createdBy},
                   NOW(),
                   NOW()
               )

    </insert>

    <select id="selectMaintenancePage" resultType="org.example.biavaitionbackend.dto.MaintenancePlanDTO">
        SELECT
        mp.plan_id              AS planId,
        mp.aircraft_id          AS aircraftId,
        a.registration_no       AS registrationNo,

        mp.maintenance_type     AS maintenanceType,
        mp.maintenance_reason   AS maintenanceReason,
        mp.planned_start_time   AS plannedStartTime,
        mp.planned_end_time     AS plannedEndTime,
        mp.plan_status          AS planStatus

        FROM maintenance_plan mp
        JOIN aircraft a
        ON mp.aircraft_id = a.aircraft_id



        ORDER BY mp.planned_start_time DESC

    </select>
</mapper>